<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[APP] {prd.base.productName} </title>
</head>
<body>


{#prd}
<div>
    <div>
        <h2>{base.productName}</h2>
        <ul>
            <li><p><b>{realTime.stock}</b>개 남았어요!</p></li>
            <li><p>소비자가격: <b>{realTime.retailPrice}</b></p></li>
            <li><p>판매가격: <b>{realTime.salesPrice}</b></p></li>
        </ul>
    </div>

    <div>
        <p><a href="/product/coupon/view/{coupon.couponId}" target="_blank">사용가능한 쿠폰이 있습니다 - {coupon.couponName}</a></p>
    </div>

    <input type="hidden" value="{base.productId}"/>
</div>
{/prd}

<div>
    <h3>구매자 리뷰</h3>

    {#reviewList}
    <ul>
        <li><p>
            <b>{reviewer} ({updated})</b>
            <blockquote>{contents}</blockquote>
            </p>
        </li>
    </ul>
    {/reviewList}

</div>

</body>
</html>